.social-buttons {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;

  li {
    margin: 0 5px 5px 0;
    cursor: pointer;

    div[role='button'] {
      outline: none;
    }

    &:hover {
      opacity: 0.75;
    }
  }
}
