.social-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;

  li {
    margin: 0 5px 5px 0;
    cursor: pointer;

    div[role='button'] {
      outline: none;
    }

    &:hover {
      opacity: 0.75;
    }
  }
}
