.offline-bar {
  width: 100%;
  height: 40px;
  position: fixed;
  bottom: 0;
  color: white;
  text-align: center;
  z-index: 5;

  display: flex;
  justify-content: center;
  align-items: center;

  p {
    margin: 0;
  }

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: underline;
  }

  &.online {
    background-color: #1dd01d;
  }

  &.offline {
    background-color: red;
  }
}
