.dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 32px;
  right: 50%;
  transform: translateX(50%);
}

.dropdown__link {
  display: block;
  min-width: 179px;
  background-color: #ffffff;
  padding: 10px;
  text-decoration: none;
  color: #000000;
  text-align: right;
  box-shadow: 0px 0px 2px grey;
}