@import '../../constants/style/colors';

.settings-page {
  text-align: center;

  .toggle {
    margin: 30px 0;
    display: inline-block;
  }
  .content-checkboxes {
    display: flex;
    justify-content: center;
    text-align: left;
    flex-wrap: wrap;
    margin-top: 30px;
    &__right {
      h5 {
        margin: 0;
        padding-bottom: 15px;
        text-align: center;
      }
    }
    &__wrapper {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
    }
  }
  .load-all {
    button {
      background: $link-color;
      outline: none;
      border: none;
      transition: 0.4s all;
      color: #fff;
      padding: 12px 18px;
      font-size: 14px;
      text-transform: uppercase;
      transform: perspective(1px) translateZ(0);
      &::before {
        pointer-events: none;
        content: '';
        position: absolute;
        border: $link-color solid 2px;
        top: -16px;
        right: -16px;
        bottom: -16px;
        left: -16px;
        opacity: 0;
        transition-duration: 0.3s;
        transition-property: top, right, bottom, left;
      }
      &:hover {
        background: $link-color--hover;
        &::before {
          top: -8px;
          right: -8px;
          bottom: -8px;
          left: -8px;
          opacity: 1;
        }
      }
    }
  }
}
