.event-detail-footer {
  display: flex;
  flex-direction: column;

  &__row {
    display: flex;
    justify-content: space-between;

    p {
      margin: 5px 0;
    }
  }

  @media screen and (max-width: 1000px) {
    &__row {
      flex-direction: column;
      text-align: center;

      > div {
        margin: 10px auto;
      }
    }

    &__map {
      text-align: center;
    }

    .calendar-button,
    .social-buttons {
      margin: 15px auto;
    }
  }
}
