.event-detail-footer {
  display: flex;
  flex-direction: column;

  &__row {
    display: flex;
    justify-content: space-between;

    p {
      margin: 5px 0;
    }
  }

  .btn--link {
    padding-left: 0;
    font-size: 14px;
    padding: 5px 10px;
    border: solid 1px #eee;
    border-radius: 4px;
    background-color: #fff;
    outline: none;
    margin: 10px 0;

    &:hover,
    &:focus {
      text-decoration: none;
    }

    &:hover {
      background-color: darken(#fff, 5%);
    }
  }

  @media screen and (max-width: 1000px) {
    &__row {
      flex-direction: column;
      text-align: center;
    }

    &__map {
      text-align: center;
    }

    .calendar-button,
    .social-buttons {
      margin: 10px auto;
    }
  }
}
