.event-detail-footer {
  display: flex;
  flex-direction: column;

  &__row {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 400px) {
      flex-wrap: wrap;
      justify-content: center;
    }

    p {
      margin: 5px 0;
    }
  }

  .btn--link {
    padding-left: 0;
    font-size: 14px;
  }
}
