.additional-info {

    .first-row {

        display: flex;
    justify-content: space-between;

    @media (max-width: 900px) {
      text-align: center;
      flex-direction: column;
    }

    .btn-link {
        outline: none;
    }

    }
    
  }