.calendar-button {
  position: relative;
  z-index: 1;
  min-width: 200px;

  .calendar-btn {
    position: relative;
    border: none;
    color: gray;
    margin: 0;
    background-color: white;
    border-right: none;
    border-radius: 0;
    box-shadow: 0 0 2px grey;
    padding: 10px 10px 10px 40px;
    background-image: url(/images/calendar-icon.png);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 10px 5px;
    font-size: 13px;
    outline: none;
    width: 100%;

    &:hover,
    &:focus {
      opacity: 0.75;
    }

    span {
      text-align: right;
    }
  }
}
