.footer {
  min-height: 80px;
  text-align: center;
  background-color: #27272e;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center; }
  .footer span {
    color: #ff084a;
    cursor: pointer; }
    .footer span:hover {
      color: #ffa228; }
