@import '../../constants/style/colors';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: $primary-color;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    height: auto;
  }

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15px;

    @media screen and (max-width: 768px) {
      padding: 20px 0;
    }

    &__main {
      position: relative;
      font-family: 'MuseoSansBold';
      font-size: 26px;
      color: #fff;
      line-height: 1;
      text-transform: uppercase;

      @media screen and (max-width: 1200px) {
        font-size: 22px;
      }
    }

    &__sub {
      font-size: 13px;
      color: #fff;
    }
  }

  .nav {
    &__item {
      display: flex;

      a {
        padding: 0 10px;
        line-height: 50px;
        text-decoration: none;
        color: #fff;
        min-width: 140px;
        text-align: center;

        @media screen and (max-width: 992px) {
          min-width: 110px;
        }

        @media screen and (max-width: 768px) {
          line-height: 40px;
          min-width: 100%;
          height: 40px;
          font-size: 13px;
        }

        &:hover,
        &:focus {
          color: #fff;
          text-decoration: none;
          box-shadow: 0 0 5px gray;
        }
      }

      &:nth-of-type(1) {
        a {
          background-color: #dc0030;
        }
      }

      &:nth-of-type(2) {
        a {
          background-color: #7c378a;
        }
      }

      &:nth-of-type(3) {
        a {
          background-color: #09a29d;
        }
      }

      &:nth-of-type(4) {
        a {
          background-color: #77c384;
        }
      }
    }
  }
}
