.header {
  background-color: #ffc500;

  display: flex;
  justify-content: space-between;

  .title {
    height: 50px;
    margin-left: 20px;

    span {
      font-family: 'MuseoSansBold';
      font-size: 26px;
      color: #fff;
      text-align: center;
  
      max-width: 300px;
  
      margin-top: 4px;
      margin-left: 50px;
      text-transform: uppercase;
  
      position: relative;
    }

    p {
      color: white;
      margin-top: -7px;
      font-size: 13.5px;
    }
  }

  ul {
    list-style-type: none;

    li {
      display: inline-block;
      margin: 0;
      padding: 0;
      min-width: 170px;

      a {
        display: block;
        height: 100%;
        color: #fff;
        padding: 15px 15px;
        text-align: center;

        &:hover,
        &:focus {
          text-decoration: none;
          // opacity: 0.8;
          box-shadow: 0px 0px 5px gray;
        }

      }

      &:nth-of-type(1) {
        background-color: #dc0030;
      }
      &:nth-of-type(2) {
        background-color: #7c378a;
      }
      &:nth-of-type(3) {
        background-color: #09a29d;
      }
      &:nth-of-type(4) {
        background-color: #77c384;
      }

    }
  }

  ul:nth-of-type(2) {
    li {
      &:nth-of-type(2) {
        background-color: #09a275;
      }
      &:nth-of-type(3) {
        background-color: #7cb854;
      }
    }
  }

  @media (max-width: 830px) {
    flex-direction: column;
    align-items: center;

    ul {
      margin: 10px auto 0;
    }

    span {
      margin-left: 0px;
    }

  //   span {
  //     order: -1;
  //   }
  //
  //   ul:first-of-type {
  //     display: block;
  //   }
  //
  //   ul:last-of-type {
  //     margin-top: -10px;
  //   }
  //
  //   ul {
  //     margin: 10px auto;
  //     li {
  //       min-width: 120px;
  //     }
  //   }
  }

  @media (max-width: 520px) {
    ul {
      margin-bottom: 15px;

      li {
        display: block;
      }
    }
  }
}
