.today-page-container {
  // min-height: 800px;

  .event-sources {
    text-align: center;
    margin: 5px;
    color: #333333;
    font-size: 14px;

    @media screen and (max-width: 480px) {
      font-size: 12px;
    }

    a {
      text-decoration: none;
      color: #337ab7;

      &:hover,
      &:focus {
        color: lighten(#337ab7, 15%);
      }
    }
  }

  h3 {
    margin-top: 60px;
    margin-bottom: 70px;

    @media screen and (max-width: 480px) {
      font-size: 23px;
      margin-top: 50px;
      margin-bottom: 40px;
    }
  }

  > div > button {
    display: block;
    // margin: 20px auto;
    min-width: 150px;

    &:focus,
    &:active {
      outline: none !important;
    }
  }

  .test-button {
    margin: 20px 300px 0 auto;
    display: block;
    width: 150px;
  }

  .show-more {
    margin: 20px auto;
    background-color: transparent;
    border: none;
    color: #337ab7;
    font-size: 14px;
    cursor: pointer;

    &:hover,
    &:focus {
      color: lighten(#337ab7, 15%);
    }
  }

  .no-results {
    text-align: center;
  }

  .scroll-up-button {
    position: absolute;
    bottom: 100px;
    left: 100px;
  }

  .calendar-wrapper {
    display: flex;
    flex-direction: column;

    > button {
      margin: 10px 0;
    }

    > div {
      margin: 15px auto;
    }
  }
}

.btn-toggle-calendar {
  border: none;
  background-color: transparent;
  color: #337ab7;
  font-size: 14px;
  cursor: pointer;

  &:hover,
  &:focus {
    color: lighten(#337ab7, 15%);
  }
}
