.today-page-container {
  // min-height: 800px;

  .event-sources {
    text-align: center;
    margin: 5px;
  }

  h3 {
    margin-top: 60px;
    margin-bottom: 70px;
  }

  > div > button {
    display: block;
    // margin: 20px auto;
    min-width: 150px;

    &:focus,
    &:active {
      outline: none !important;
    }
  }

  .test-button {
    margin: 20px 300px 0 auto;
    display: block;
    width: 150px;
  }

  .show-more {
    margin: 20px auto;
  }

  .no-results {
    text-align: center;
  }

  .scroll-up-button {
    position: absolute;
    bottom: 100px;
    left: 100px;
  }

  .calendar-wrapper {
    display: flex;
    flex-direction: column;

    > button {
      margin: 10px 0;
    }

    > div {
      margin: 15px auto;  
    }
  }
}
